/* 
    Created on : 07-Feb-2015, 19:24:47
    Author     : UP608985

    Style sheet specific to the admin area
*/

/* Header */
header#mainHeader {
    min-height: 30px;
}

header#mainHeader>div#headerText {
    float: left;
    width: 150px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14pt;
}

/* Main */
main>section {
    margin-top: 1%;
}

/* Sections */
main>section#options>header, main>section#categories>header, main>section#delivery-opts>header, main>section#products>header, main>section#product>header, main>section#settings>header {
    font-size: 18pt;
    font-weight: bold;
    margin-bottom: 1%;
}

section#categories, section#products, section#delivery-opts, section#product, section#settings { /* Focussed display sections */
    float: left;
    margin-bottom: 1%;
    box-shadow: 0 3px 3px #888888;
    border: 1px solid #D6D6D6;
    width: 100%;
    min-width: 200px; /* Set a minimum width so that they move down the screen rather than getting inifinitely smaller, when the screen is squashed */
    padding: 1%;
}

fieldset>legend {
    font-weight: bold;
}

/* Admin Grid styling */
main div.admin-grid>section.grid-item {
    float: left;
    margin-right: 2%;
    margin-bottom: 2%;
    box-shadow: 0 3px 3px #888888;
    border: 1px solid #D6D6D6;
    width: 20%;
    min-width: 100px; /* Set a minimum width so that they move down the screen rather than getting inifinitely smaller, when the screen is squashed */
    padding: 1%;
}

/* Forms */
form#product-form {
    float: left;
    margin-top: 0.5%;
}

form#add-category>select, form#add-category>input, form#add-del>input {
    display: block;
    margin-bottom: 1%;
}

/* Tables */
table#product-table label {
    font-weight: normal;
}

table#settingsTable td.value {
    word-break: break-word;
    word-wrap: break-word;
}

/* Misc */
fieldset {
    margin: 1% 0;
}

div#error {
    color: #d12525;
}

img#image-preview {
    background-color: #FFFFFF;
    width: 200px;
}