/* 
    Created on : 08-Nov-2014, 11:55:08
    Author     : Edward McKnight (UP608985)
*/

@import url(//fonts.googleapis.com/css?family=Roboto:400italic,700,400); /* Google's Roboto Font */

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

button {
	cursor: pointer;
}

div#container {
	width: 100%;
}

header {
	padding: 5px 1.5%;
	box-shadow: 0 3px 3px #888888;
}

header>div#headerText {
	font-weight: bold;
	font-size: 140%;
}

/* Header search styling */
header>div#headerSearch {
	margin-left: 12%;
}

header>div#headerSearch input {
	width: 60%;
	padding: 10px;
	border-radius: 3px;
}

header>div#headerSearch button {
	padding: 10px;
	border-radius: 3px;
}

header>div#headerRight {
	float: right;
}

header>div#headerRight>span.link {
	font-weight: bold;
}

header>div#headerRight>span.link#last {
	margin-left: 10px;
}

/* Category Navigation */
aside#catNav {
	float: left;
	width: 15%;
	padding: 2px;
	margin: .7% 0 1% 0;
	background-color: #e5e2d9;
	border-radius: 0 5px 5px 0;
	box-shadow: 3px 3px 2px #888888;
	overflow-x: hidden; /* Hide overflowing content when screen size is squashed, stops text flowing over the element */
}

aside#catNav>nav {
	padding: 0 7%;
}

aside#catNav>nav>ul {
	padding-left: 2%;
}

aside#catNav>nav>ul>li {
	list-style: none;
	font-weight: bold;
}

/* Main content styling */
main {
	float: left;
	display: block; /* Neccessary for older browsers which don't display the "main" element correctly */
	width: 75%;
	margin: 1%;
}

main>section#featured>h1 {
	margin: 0;
}

/* Footer styling */
footer {
	clear: both;
	padding-top: 1%;
	box-shadow: 0 -2px 3px #888888;
	text-align: center;
}