/* 
    Created on : 07-Feb-2015, 19:24:47
    Author     : UP608985

    Style sheet specific to the reporting area
*/

/* Header */
header#mainHeader {
    min-height: 30px;
}

header#mainHeader>div#headerText {
    float: left;
    width: 150px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14pt;
}

main>section {
    margin-top: 1%;
}

/* Sections */
main>section#options>header, main>section#warnings>header, main>section#orders>header {
    font-size: 18pt;
    font-weight: bold;
    margin-bottom: 1%;
}

section#warnings, section#orders { /* Focussed display sections */
    float: left;
    margin: 2%;
    box-shadow: 0 3px 3px #888888;
    border: 1px solid #D6D6D6;
    width: 100%;
    min-width: 200px; /* Set a minimum width so that they move down the screen rather than getting inifinitely smaller, when the screen is squashed */
    padding: 1%;
}

/* Forms */
form#time-opts>input {
    display: block;
    margin-bottom: 1%;
}

/* Fieldset */
fieldset {
    margin: 1% 0;
}

fieldset>legend {
    font-weight: bold;
}

/* Reporting Grid styling */
main div.reporting-grid>section.grid-item {
    float: left;
    margin-right: 2%;
    margin-bottom: 2%;
    box-shadow: 0 3px 3px #888888;
    border: 1px solid #D6D6D6;
    width: 20%;
    min-width: 100px; /* Set a minimum width so that they move down the screen rather than getting inifinitely smaller, when the screen is squashed */
    padding: 1%;
}

/* View Order */
div#view-order-container {
    position: fixed;
    z-index: 90; /* Bring to the forefront of the user's screen' */
    left: 30%; /* % of window */
    width: 40%;
    box-shadow: 0 3px 3px #888888;
    border: 1px solid #D6D6D6;
    background-color: #FFFFFF;
}

div#view-order-container>div#view-order-content>header {
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 1%;
}

div#view-order-container>div#view-order-content>button {
    float: right;
}

/* Misc */
div#turnover {
    float: right;
    margin-top: 1%;
    font-weight: bold;
    color: #57d94e;
}

span.date {
    font-weight: bold;
}