/* 
    Created on : 08-Feb-2015, 12:37:55
    Author     : UP608985
    
    Style sheet specific to the shop
*/

/* Header */
header#mainHeader>img#headerLogo {
    float: left;
    width: 150px;
    height: 49px;
    cursor: pointer;
}

/* Header search styling */
header#mainHeader>div#headerSearch {
    margin-left: 12%;
}

/* Main */
main {
    margin-top: 1%;
}

main>section#featured>header, main>section#products>header, main>section#basket>header, main>section#order>header, main>section#confirm>header {
    font-size: 18pt;
    font-weight: bold;
    margin-bottom: 1%;
}

/* Grid */
main div.grid>section.grid-item>div.price {
    color: #6B6B6B;
    font-weight: bold;
}

/* Item */
section#item, section#basket, section#order, section#confirm { /* Focussed item's display section */
    float: left;
    margin: 0 2% 1% 2%;
    box-shadow: 0 3px 3px #888888;
    border: 1px solid #D6D6D6;
    width: 100%;
    min-width: 200px; /* Set a minimum width so that they move down the screen rather than getting inifinitely smaller, when the screen is squashed */
    padding: 1%;
}

section#item>header {
    font-weight: bold;
    font-size: 18pt;
    margin: 1% 0;
}

section#item>div.price {
    color: #6B6B6B;
    font-weight: bold;
    font-size: 14pt;
    margin-top: 1%;
}

.add-to-basket {
    background-color: #ffe939;
    border-radius: 3px;
    margin: 1% 0;
    padding: 0.5% 1%;
}

/* Basket */
table#basket {
	border-collapse: collapse;
    width: 100%;
    margin-bottom: 1%;
}

table#basket>tr.otherRow {
    background-color: #D6D6D6;
}

table#basket>tr#total>td {
    font-weight: bold;
}

/* Place Order */
section#order>div>div#orderSubTotal {
    font-weight: bold;
}

section#order>div>form>div#order-total {
    float: right;
    color: #57d94e;
}

section#order>div>form>button#complete-order {
    float: right;
}

span#orderID {
    font-weight: bold;
}

/* Confirmation Messages */
div.add-to-basket-confirm, div.complete-order-confirm {
    position: absolute;
    z-index: 100;
    border-radius: 5px;
    background-color: #00FFCC;
    padding: 0.5%;
}

/* Misc */
img#main {
    max-width: 100%;
    max-height: 400px;
}

#basket-link.highlight {
    color: #009900 !important;
}